*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.logo {
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color:#FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
}



/* main style*/
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
  header{
    background-color: #FFF8F3;
    padding-top: 50px;
  }

nav{
    width: 74%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
 