*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.logo {
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color:#FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    cursor: pointer;
}
.heading h2{
font-size: 35px;
font-weight: bold;
color: #181818;
margin-bottom: 30px;
/* margin-top: 30px; */
}
.heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.education-box h2{
   font-size: 30px;
   color: #474747;
}
.education h3{
   font-size: 25px;
   color: #474747;
   margin-bottom: 10px;
   margin-top: 30px;
}
.education .institute{
   font-size: 20px;
   font-weight: 600;
   color: #757575;
   margin-bottom: 20px;
}
.education .resume-text{
   font-size: 16px;
   color: #757575;
   margin-bottom: 30px;
}



/* main style*/
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
  header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(images/developer.png),url(images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
  }

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
 #banner {
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
 }
 .banner-content h2{
    font-size: 45px;
    font-weight: 800;
    color: #474747;
    margin-bottom: 5px;
 }
 .banner-content h1{
     font-size: 85px;
    font-weight:bold;
    margin-bottom: 20px;
 }
 .banner-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
 }
 .banner-image img{
    max-width: 584px;
    vertical-align: middle;
 }
 #about{
    padding-top: 131px;
 }
 .about-container{
    max-width: 1200px;
    width: 71%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
 }
 .about-info{
    display: flex;
    justify-content: space-between;
 }
 .info-card p{
    color: #757575;
    font-size: 20px;
    margin-bottom: 10px;
 }
 .info-card h4{
    font-weight: bold;
    font-size: 20px;
 }
 .container{
    margin: 130px 387px 50px 387px;
    max-width: 827px;
    justify-items: center;
    text-align: center;
 }
 #skills{
    margin: 0px 230px;
    width: 71%;
 }
 .card{
    display: flex;
    gap: 24px;

 }
 .skill-card{
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px 30px 30px;
    border-radius: 10px;
 }
 .skill-card img{
    margin-bottom: 30px;
 }
 .skill-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
 }
  .skill-card p{
        color: #757575;
        line-height: 28px;
        font-size: 16px;
    }
    #resume{
        width: 71%;
        max-width: 1140px;
        margin: 134px auto 0px;
    }
    #resume .heading h2{
        align-items: center;
        text-align: center;
    }
    .resume-box{
        display: flex;
        /* justify-content: space-between; */
        gap: 150px;
        margin-top: 113px;
    }
    .middle-btn{
     text-align: center;
     margin-top: 30px;
    }
    footer{
      margin-top: 113px;
      padding: 122px 236px 139px 223px ;
      width: 100%;
      background-color: #FFF8F3;
    }
    .footer-box{
      display: flex;
      /* justify-content: space-between; */
      gap: 140px;
    }
    .footer-box h2{
      font-size: 35px;
      font-weight: bold;
      color: #181818;
      margin-bottom: 20px;
    }
    .social{
      max-width: 562px;
    }
    .social p{
      color: #474747;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    .social .icon a{
      margin-right: 24px;
    }
    .footer-box form input[type="text"],
    .footer-box form textarea {
      width: 461px;
      padding: 18px 31px;
      margin-bottom: 24px;
      border: none;
      border-radius: 5px;
      color: #757575;

    }

